body {
    font-family: 'PT Sans', "Microsoft YaHei", STXihei, sans-serif;
    padding-top: 70px;
}

.choice {
    background: #f8f8f8;
    padding: 30px;
    margin-bottom: 50px;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    /* the bottom margin is the negative value of the footer's height */
}

.footer,
.push {
    height: 60px;
    /* .push must be the same height as .footer */
}

.footer {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    padding-top: 10px;
    background-color: #f5f5f5;
}

.mask-bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
}

.loader {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #f79d00;
    border-right: 16px solid #8b3fb2;
    border-bottom: 16px solid #4CAF50;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* user page */

.red {
    color: red;
}

.album {
    width: 300px;
    padding: 10px;
    margin: 30px 60px 20px 60px;
}


/* albums in like page */

.album-like {
    margin: 40px 40px 60px 40px;
}

.info {
    padding: 4px;
}

.album-thumbnail {
    position: relative;
    width: 270px;
    height: 220px;
    overflow: hidden;
}

.album-thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.album-thumbnail img.portrait {
    width: 100%;
    height: auto;
}

.user-area {
    background: #ffe6b3;
    padding: 20px;
}

.data-area {
    background: #e6ccff;
    padding: 20px;
}

.about-area {
    background: #d6f5d6;
    padding: 20px;
}

.album-frame,
.album-frame:before {
    background: transprent;
    width: 265px;
    height: 215px;
    margin: 5px;
    border: 3px solid #FFF;
    box-shadow: 0 0 0 1px #999;
    position: relative;
}

.album-frame:before {
    margin: 0;
    content: "";
    position: absolute;
    top: -7px;
    left: -7px;
    background: white;
    z-index: -1;
}

ul.comments {
    list-style-type: none;
    padding: 0;
    margin: 16px 0 0 0;
}

ul.comments li.comment {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}

ul.comments li.comment:hover {
    background-color: #f0f0f0;
}

.comment-date {
    float: right;
}

.comment-author {
    font-weight: bold;
}

.comment-thumbnail {
    position: absolute;
}

.comment-content {
    margin-left: 48px;
    min-height: 48px;
}

.comment-form {
    margin: 16px 0 16px 32px;
}

.user-area h2 {
    display: inline;
}


/* album page */

.image {
    margin: 10px;
    margin-bottom: 20px;
    width: 270px;
}

.fav-btn {
    border: 1px solid lightgrey;
    padding: 4px 8px;
    border-radius: 3px;
    text-decoration: none;
}

.fav-btn:link,
.fav-btn:hover {
    text-decoration: none;
}

.fa v-btn,
.fav-btn:link,
.fav-btn:hover {
    border: 1px solid lightgrey;
    padding: 4px 8px;
    border-radius: 3px;
    text-decoration: none;
    background: url(https://img3.doubanio.com/f/shire/f392cc86b542687ce4011dd495ee9522dfe81d93/pics/ic_like.png) no-repeat 8px 8px;
}

.fav-cancel,
.fav-cancel:link,
.fav-cancel:hover {
    border: 1px solid lightgrey;
    padding: 4px 8px;
    border-radius: 3px;
    text-decoration: none;
    background: url(https://img3.doubanio.com/f/shire/f392cc86b542687ce4011dd495ee9522dfe81d93/pics/ic_like.png) no-repeat 8px -15px;
}

.hide-photo {
    display: none;
}


/* photo edit page */

.sort-area {
    background: #f8f8f8;
    padding: 30px;
    margin-bottom: 50px;
}

#wrapper,
.images {
    margin: auto;
    text-align: center;
}

#wrapper {
    width: 940px;
    margin: 0 auto;
}

.images {
    list-style: none;
}

.images-edit li {
    float: left;
    display: block;
    width: 170px;
    height: 280px;
    background: #fff;
    margin: 0 55px 55px 0;
    padding: 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.images img {
    cursor: move;
}

.images textarea {
    width: 150px;
}

#images .active {
    background: #4c96d8;
}

#images li span {
    font-weight: bold;
}

.edit-thumbnail {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.edit-thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.edit-thumbnail img.portrait {
    width: 100%;
    height: auto;
}


/* fast sort page */

.images-sort li {
    float: left;
    display: block;
    width: 130px;
    height: 130px;
    margin: 0 10px 10px 0;
    padding: 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.sort-thumbnail {
    position: relative;
    width: 110px;
    height: 110px;
    overflow: hidden;
}

.sort-thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.sort-thumbnail img.portrait {
    width: 100%;
    height: auto;
}


/* explore page */

.explore-image {
    margin: 40px;
    width: 300px;
}


/* photo page */

.author {
    background: #ffe6b3;
    padding: 20px;
}

.photo {
    text-align: center;
}

.photo img {
    max-height: 700px;
    max-width: 100%;
    width: expression(this.offsetWidth > 700 ? "700px": "auto");
    /* IE6 */
}

.edit-form {
    display: none;
}

.comment-area {
    margin-top: 80px;
}


/* logo */

.fan {
    color: #f79d00;
}

.xiang {
    color: #8b3fb2;
}

.ce {
    color: #4CAF50;
}