{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}翻相册 - 创建{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>创建相册</h1>
</div>

<div class="col-md-4">
    <form class="form form-horizontal" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.title) }}
        {{ wtf.form_field(form.about) }}
        {{ wtf.form_field(form.photo, multiple="multiple") }}
        <img src="http://i2.piimg.com/674a895eaa333a88.png" alt ="tietuku" style ="cursor:pointer" onclick="tietuku_upload()"/>
        <br><br>
        {{ wtf.form_field(form.submit) }}
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script language = "javascript" type = "text/javascript"  src="http://static.kekaoyun.com/static/open/tietuku.jquery.min.js"></script><script language = "javascript" type = "text/javascript"  src="http://static.kekaoyun.com/static/open/tietuku.dialog.js"></script><script>var jq=jQuery.noConflict();function tietuku_upload(){jq.dialog.showIframeDialog(850, '', '<iframe frameborder="0" width="824" height="460" marginheight="0" marginwidth="0"  src="http://static.kekaoyun.com/upByPlugn?token=520a69e999343680d4ae35ead9c877418bd37510:GxxX3tXM6ntITe2ZQJ6d0eyOR7U=:eyJkZWFkbGluZSI6MTQ3MzY4MjMzMywiYWN0aW9uIjoiZ2V0IiwidWlkIjoiNTY3NTkxIiwiYWlkIjoiMTI0NTI1NCIsImZyb20iOiJmaWxlIn0=&ifr=1&"></iframe>');}var $=jQuery.noConflict();</script>
{% endblock %}