{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{{ user.name }} - 翻相册{% endblock %}
{% block head %}
{{ super() }}
<style>
*{
margin: 0;
padding: 0;
}
.post {
margin: 40px;
}

.post h4 {
  margin-bottom: 9px;
}

.post h4 a {
  color: #333;
}

.post img.image {
  max-width: 400px;
  margin-top: 9px;
}

.info {
	padding:4px;
}


.thumbnail {
  position: relative;
  width: 250px;
  height: 200px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

/*http://127.0.0.1:5000/_uploads/photos/2c0e67b986216c4e40bc94fe609b99f9_r.png*/
.user-content {
    padding-top: 50px;
    background-image: url(https://image.hitu.me/464fea6caeb3454ead97be332c2e936b/AScwREH4yHUTafkKgFxsJS/large);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ccc;
    color: #fff;
    }

.user-area {
    background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.03) 8%,rgba(0,0,0,.11) 21%,rgba(0,0,0,.61) 78%,rgba(0,0,0,.7) 95%,rgba(0,0,0,.7));
}

.user-area a, .user-area h1 {
    color: #fff;
    display: inline;
}

.user-area p {
    font-size: 16px;
}
.icon-area {
    padding-top: 80px;
}

.about-area {
    padding-top: 120px;
}

.info-area {
     padding-top: 160px;
}
#likes {
    color: red;
}

.album-cover, .album-cover:before
{
    background: transprent;
    width: 245px;
    height: 190px;
    margin: 5px;
    border: 3px solid #FFF;
    box-shadow: 0 0 0 1px #999;
    position: relative;
}
.album-cover:before
{
    margin: 0;
    content: "";
    position: absolute;
    top: -7px;
    left: -7px;
    background: white;
    z-index: -1;
}


ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}

</style>
{% endblock %}

{% block page_content %}
<div class="user-content container-fluid">
    <div class="row user-area">
        <div class="col-md-1"></div>
        <div class="col-md-1 col-xs-12 icon-area text-center">
            <p>
                <img class="img-rounded" src="{{ user.gravatar(size=128) }}">
            </p>
        </div>
        <div class="col-md-4 col-xs-12 about-area text-center">
            <h1>{{ user.name }}</h1> <!--i id="likes" class="glyphicon glyphicon-heart"></i--> {#{ user.liked }#}<br>
            {% if user.status %}<p>{{ user.status }}</p>{% endif %}
        </div>
        
        <div class="col-md-4 col-xs-12 info-area text-center">
            关注者<a href="{{ url_for('.followers', username=user.username) }}"><span class="badge">{{ user.followers.count() }}</span></a>
        <a href="{{ url_for('.followed_by', username=user.username) }}"> 关注了<span class="badge">{{ user.followed.count() }}</span></a>个人
        {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
        | <span class="label label-default">他/她在关注你</span>
        {% endif %}
            {% if user != current_user %} <!--current_user.can(Permission.FOLLOW) and -->
            {% if not current_user.is_authenticated or not current_user.is_following(user) %}
            <a href="{{ url_for('.follow', username=user.username) }}" class="btn btn-primary">关注</a>
            {% else %}
            <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  已关注
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('.unfollow', username=user.username) }}">取消关注</a></li>
                </ul>
            </div>
        {% endif %}
        {% endif %}
            <br>
        {% if user.location %}
            <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
        {% endif %}
        {% if current_user.is_administrator() %}
        <a href="mailto:{{ user.email }}">{{ user.email }}</a>
        {% endif %}
        {% if user.website %}<a href="{{ user.website }}" target="_blank">{{ user.website }}</a>{% endif %}
            
        </div>
    </div>
</div>
<br>

<ol class="breadcrumb">
  <li><a href="{{ url_for('.index') }}">翻相册</a></li>
  <li class="active">{% if current_user == user %}我{% else %}{{ user.name }}{% endif %}的相册</li>
    <li><a href="{{ url_for('main.likes', username=user.username) }}">{% if current_user == user %}我{% else %}{{ user.name }}{% endif %}的喜欢</a></li>
    {% if user == current_user %}
    <li class="pull-right"><a href="{{ url_for('.edit_profile') }}">编辑资料</a></li>
    {% endif %}
    {% if current_user.is_administrator() %}
    <li class="pull-right"><a href="{{ url_for('.edit_profile_admin', id=user.id) }}">编辑 [Admin]</a></li>
    {% endif %}
</ol>

<div class="page-header">
    <h3>{% if current_user == user %}我{% else %}{{ user.name }}{% endif %}的相册</h3>
    <p>{{ album_count }}个相册 {{ photo_count }}张照片
        <a class="pull-right btn" href="{{ url_for('.new_album') }}" title="新建相册">
            <i class="glyphicon glyphicon-plus"></i>
        </a>
    </p>
</div>

<div class="text-center container-fluid">
    {% if album_count == 0 %}
    {% if current_user == user %}
    <h3>你还没有相册，快来<a href="{{ url_for('.new_album') }}">创建</a>一个吧！</h3>
    {% else %}
    <h3>他/她还没有创建相册。</h3>
    {% endif %}
    {% endif %}
    <div id="posts" class="row text-center">
        {% for album in albums %}
        {% if not album.no_public or current_user == user%}
        <div class="post item span3">
              <div class="album-cover">
                <a class="thumbnail" href="{{ url_for('.album', id=album.id) }}" >
                    <img class="img-responsive portrait" src="{{ album.cover }}">
                </a>
              </div>
              <div class="info">
                  <h5><a href="{{ url_for('.album', id=album.id) }}">{{ album.title }}</a></h5>
                  <span>{{ album.photos.count() }}张图片</span>
                  <span>创建于{{ moment(album.timestamp).format('L') }}</span><hr>
              </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<div class="text-center">
    {{ macros.pagination_widget(pagination, '.albums', username=user.username) }}
</div>
<hr>

<div class="row">
    <h3>留言板</h3>
    {{ wtf.quick_form(form) }}
    <div id="comment">
    {% include '_comments.html' %}
    </div>
</div><br>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/isotope.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/imagesloaded.js') }}"></script>
<script>
  $('#posts').imagesLoaded( function(){
    $('#posts').isotope({
      itemSelector : '.item'
    });
  });
</script>
{% endblock %}