{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}翻相册 - 我的相册{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<link href="{{ url_for('static', filename='css/lightbox.css') }}" rel="stylesheet">
<style>

/* make the well swell */
.well {
	border-color:#c9c9c9;
}

.post {
margin: 10px;
}

.post h4 {
  margin-bottom: 9px;
}

.post h4 a {
  color: #333;
}

.post img.image {
  max-width: 100%;
  margin-top: 9px;
}

.info {
	padding:4px;
}
/* Isotope Transitions
------------------------------- */
.isotope,
.isotope .item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}


/* responsive media queries */

@media (max-width: 480px) {

}

@media (max-width: 768px) {
  header h1 small {
    display: block;
  }

  header div.description {
    padding-top: 9px;
    padding-bottom: 4px;
  }

  .isotope .item {
    position: static ! important;
    -webkit-transform: translate(0px, 0px) ! important;
       -moz-transform: translate(0px, 0px) ! important;
            transform: translate(0px, 0px) ! important;
  }
}

@media (max-width: 980px) {
  header p.lead span {
    display: block;
  }
}

@media (min-width: 480px) and (max-width: 768px) {

}


@media (min-width: 768px) and (max-width: 980px) {
  .span3 {
    width: 352px;
  }
}

@media (min-width: 980px) and (max-width: 1200px) {
  .span3 {
    width: 300px;
  }
}

@media (min-width: 1200px) {
  .span3 {
    width: 270px;
  }
}

.fav-btn {
      border: 1px solid black;
      padding: 4px 8px;
      border-radius: 3px;
      text-decoration: none;
      }

.fav-btn:link, .fav-btn:hover  {
    text-decoration: none;
    }

.fav-btn, .fav-btn:link, .fav-btn:hover {
      border: 1px solid black;
      padding: 4px 8px;
      border-radius: 3px;
      text-decoration: none;
    background: url(https://img3.doubanio.com/f/shire/f392cc86b542687ce4011dd495ee9522dfe81d93/pics/ic_like.png) no-repeat 8px 5px;
    }
.fav-cancel, .fav-cancel:link, .fav-cancel:hover {
    border: 1px solid black;
      padding: 4px 8px;
      border-radius: 3px;
      text-decoration: none;

    background: url(https://img3.doubanio.com/f/shire/f392cc86b542687ce4011dd495ee9522dfe81d93/pics/ic_like.png) no-repeat 8px -15px;
    }
</style>
{% endblock %}

{% block page_content %}

<ol class="breadcrumb">
  <li><a href="{{ url_for('.index') }}">翻相册</a></li>
  <li><a href="{{ url_for('.user', username=album.author.username) }}">{% if current_user == album.author %}我{% else %}{{ album.author.name }}{% endif %}的主页</a></li>
  <li><a href="{{ url_for('.albums', username=album.author.username) }}">{% if current_user == album.author %}我{% else %}{{ album.author.name }}{% endif %}的相册</a></li>
  <li class="active">《{{ album.title }}》</li>
  <li class="pull-right"><a href="{{ url_for('.albums', username=album.author.username) }}">返回</a></li>
  <li class="pull-right"><a href="{{ url_for('main.likes', username=album.author.username) }}">{% if current_user == album.author %}我{% else %}{{ album.author.name }}{% endif %}的喜欢</a></li>

</ol>

<div class="page-header">
    <h3>{{ album.title }}</h3>
    <h4>{{ album.about }}</h4>
    <p>{{ album.photos.count() }}张图片 创建于{{ moment(album.timestamp).format('L') }}
        {% if current_user == album.author %}
        <span class="pull-right">  &nbsp;编辑相册 | 添加照片 | 排序</span>
        {% endif %}
        <span class="pull-right">幻灯片 | 对齐 | 瀑布流</span>
</p>
</div>

<div class="container">
<div id="posts" class="row">
            {% for photo in photos %}
            <div class="post item span3">
              <div class="well">
                <a class="thumbnail" href="{{ url_for('.photo_test', id=photo.id) }}" title="">
                    <img class="img-responsive" src="{{ photo.path }}">
                </a>
                <div class="info">
                    <a class="comment" href="{{ url_for('.photo', id=photo.id) }}#comment">评论 <span class="badge">{{ photo.comments.count() }}</span></a>
                    喜欢 <span class="badge">{{ photo.photo_liked.count() }}</span>
              </div>
            </div>
            </div>
            {% endfor %}
</div>
    <p>
        {% if current_user == album.author %}
        <!-- Button trigger modal -->
                    <span class="pull-right"><button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">
                      删除相册
                    </button></span>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
                      <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                确定要删除这张图片？
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <a href="{{ url_for('.delete_album', id=album.id) }}"><button type="button" class="btn btn-danger">确认</button></a>
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
        {% endif %}
     推荐 |
            {% if is_liked and current_user.is_authenticated %}
            <a href="{{ url_for('.like_album', id=album.id) }}" class="fav-btn fav-cancel" title="取消喜欢？">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;喜欢</a>
            {% else %}
            <a href="{{ url_for('.like_album', id=album.id) }}" class="fav-btn" title="标为喜欢？">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;喜欢</a>
            {% endif %}
            <span class="badge">{{ album.album_liked.count() }}人喜欢</span>
    </p>

<div class="pagination">
    {{ macros.pagination_widget(pagination, '.album', id=album.id) }}
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/lightbox.js') }}"></script>
<script>
$.getScript('//cdn.jsdelivr.net/isotope/1.5.25/jquery.isotope.min.js',function(){
  /* activate jquery isotope */
  $('#posts').imagesLoaded( function(){
    $('#posts').isotope({
      itemSelector : '.item'
    });
  });
});
</script>

<script>
    var $= jQuery.noConflict();
    lightbox.option({
      'resizeDuration': 300,
      'wrapAround': true,
      'maxWidth': 1000,
      'disableScrolling': true,
    })
</script>

<script>
    $(".fav-btn").click(function(event) {
      $(event.target).toggleClass("fav-cancel");
    });
</script>

{% endblock %}