{% extends "bootstrap/base.html" %}

{% block title %}翻相册{% endblock %}

{% block head %}
{{ super() }}
<!--link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"-->
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              <b>
              <span style="color: #f79d00">翻</span>
              <span style="color: #8b3fb2">相</span>
              <span style="color: #4CAF50">册</span>
              </b></a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.albums', username=current_user.username) }}">相册</a></li>
                <li><a href="{{ url_for('main.likes', username=current_user.username) }}">喜欢</a></li>
                <li><a href="{{ url_for('main.albums', username=current_user.username) }}">集体相册</a></li>
                <li><a href="{{ url_for('main.albums', username=current_user.username) }}">拼贴实验室</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">创建<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a target="_blank" href="{{ url_for('main.normal') }}">普通相册</a></li>
                    <li><a target="_blank" href="{{ url_for('main.tag') }}">标签云相册</a></li>
                    <li><a target="_blank" href="{{ url_for('main.wall') }}">照片墙</a></li>
                  </ul>
                </li>
                {% else %}
                <li><a href="/create">体验</a></li>
                <li><a href="/about">关于</a></li>
                {% endif %}
            </ul>


            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span></span>
                    <img src="{{ current_user.gravatar(size=18) }}">
                    {{ current_user.email }} <strong class="caret"></strong>
                    </a>
                    <ul class="dropdown-menu">
                        {% if current_user.confirmed %}
                        <li><a href="{{ url_for('.user', username=current_user.username) }}">个人资料</a></li>
                        {% else %}
                        <li><a href="{{ url_for('main.edit_profile') }}">个人资料</a></li>
                        {% endif %}
                        <li><a href="#">设置</a></li>
                        <li><a href="#">帮助</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ url_for('auth.change_password') }}">更改密码</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">更改邮箱</a></li>
                        <li><a href='{{ url_for("auth.logout") }}'>注销</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">登录</a></li>
            </ul>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
</div>

<footer>
    <hr>
    <div class="col-md-8">
  <p>© 2016 <b>
    <span style="color: #f79d00">翻</span>
    <span style="color: #8b3fb2">相</span>
    <span style="color: #4CAF50">册</span>
    </b> · <a href="#terms">隐私权和条款</a> · <a href="#contact">联系我们</a> · <a target="_blank" href="http://withlihui.com">李辉的书桌</a></p>
    </div>
    <p class="pull-right"><a class="shake shake-vertical" id="totop" href="#">返回顶部</a></p>
</footer>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang('zh-cn') }}
{% endblock %}