{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}翻相册 - 编辑相册{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>相册与图片设置</h1>
</div>
<ol class="breadcrumb" id="navigation">
    <li><a href="{{ url_for('.index') }}" target="_blank">首页</a></li>
    <li class="active">编辑相册信息</li>
    <li><a href="{{ url_for('.edit_photo', id=album.id) }}" target="_blank">照片编辑与排序</a></li>
    <li><a href="{{ url_for('.fast_sort', id=album.id) }}" target="_blank">快捷排序</a></li>
    <li class="pull-right"><a href="{{ url_for('.album', id=album.id) }}">返回</a></li>
    <li class="pull-right"><a href="{{ url_for('.add_photo', id=album.id) }}" target="_blank">添加图片</a></li>
</ol>

<div class="row">
    <div class="col-md-6">
        <form class="form" method="POST">
          {{ form.hidden_tag() }}
          {{ wtf.form_field(form.title) }}
          {{ wtf.form_field(form.about) }}
          {{ wtf.form_field(form.asc_order) }}
          {% if album.is_public %}
          {{ wtf.form_field(form.no_public) }}
            {% else %}
            {{ wtf.form_field(form.no_public, checked) }}
            {% endif %}
            {% if album.can_comment %}
          {{ wtf.form_field(form.no_comment, checked) }}
            {% else %}
             {{ wtf.form_field(form.no_comment) }}
            {% endif %}
             <hr>
          {{ wtf.form_field(form.submit) }}
        </form>
    </div>
</div>
{% endblock %}