{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}翻相册 - 创建{% endblock %}
{% block head %}
{{ super() }}
<style>
.post {
margin: 40px;
}

a.thumbnail {
    margin-bottom: 2px !important;
}


.post h4 {
  margin-bottom: 9px;
}

.post h4 a {
  color: #333;
}

.post img.image {
  max-width: 100%;
  margin-top: 9px;
}

.info {
	padding:2px;
}

  .info {
    margin: 5px;
    padding:4px;
    cursor: pointer;
  }

/* responsive media queries */

@media (max-width: 480px) {

}

@media (max-width: 768px) {
  header h1 small {
    display: block;
  }

  header div.description {
    padding-top: 9px;
    padding-bottom: 4px;
  }

  .isotope .item {
    position: static ! important;
    -webkit-transform: translate(0px, 0px) ! important;
       -moz-transform: translate(0px, 0px) ! important;
            transform: translate(0px, 0px) ! important;
  }
}

@media (max-width: 980px) {
  header p.lead span {
    display: block;
  }
}

@media (min-width: 480px) and (max-width: 768px) {

}


@media (min-width: 768px) and (max-width: 980px) {
  .span3 {
    width: 352px;
  }
}

@media (min-width: 980px) and (max-width: 1200px) {
  .span3 {
    width: 300px;
  }
}

@media (min-width: 1200px) {
  .span3 {
    width: 270px;
  }
}
</style>
{% endblock %}
{% block page_content %}
<ol class="breadcrumb" id="navigation">
    <li><a href="{{ url_for('.index') }}">首页</a></li>
    <li class="active">发现</li>
    <li class="pull-right"><a href="{{ url_for('.albums', username=current_user.username) }}">返回我的主页</a></li>
</ol>

<div class="page-header">
    <h2>发现</h2>
</div>

<ul class="nav nav-tabs">
    <li {% if type == 'new' %}class="active"{% endif %}><a href="{{ url_for('.explore') }}">最新</a></li>
    <li {% if type == 'hot' %}class="active"{% endif %}><a href="{{ url_for('.explore_hot') }}">热门</a></li>
</ul><br>

<a href="../static/hi2.jpg">hi</a>
<div class="container">
    <div class="row grid">
        {% for photo in photos %}
        {% if photo.album.is_public == True %}
            <div class="post span3 grid-item">
            <a class="thumbnail" href="{{ url_for('.photo', id=photo.id) }}" >
                <img class="img-responsive" src="{{ photo.path }}">
            </a>
            <div class="info">
              <span>上传于{{ moment(photo.timestamp).format('L') }}</span>
              <span>By <a href="{{ url_for('.albums', username=photo.author.username) }}" >{{ photo.author.name }}</a></span><br>
              <span>相册：<a href="{{ url_for('.album', id=photo.album.id) }}" >{{ photo.album.title }}</a></span>
            </div>
          </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/isotope.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/imagesloaded.js') }}"></script>
<script>
$('.grid').imagesLoaded( function(){
    $('.grid').isotope({
      itemSelector : '.grid-item',
      {% if type == 'photo' %}
      layoutMode: 'masonry',
      {% endif %}
    });
  });
</script>
{% endblock %}