{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{{ user.name }} - 翻相册{% endblock %}
{% block head %}
{{ super() }}
<style>

/* make the well swell */
.well {
    height: 290px;
    width: 290px;
	border-color:#c9c9c9;
}

.post {
margin: 40px;
}

a.thumbnail {
    margin-bottom: 2px !important;
}


.post h4 {
  margin-bottom: 9px;
}

.post h4 a {
  color: #333;
}

.post img.image {
  max-width: 100%;
  margin-top: 9px;
}

.info {
	padding:2px;
}

  .info {
    margin: 5px;
    padding:4px;
    cursor: pointer;
  }

/* responsive media queries */

@media (max-width: 480px) {

}

@media (max-width: 768px) {
  header h1 small {
    display: block;
  }

  header div.description {
    padding-top: 9px;
    padding-bottom: 4px;
  }

  .isotope .item {
    position: static ! important;
    -webkit-transform: translate(0px, 0px) ! important;
       -moz-transform: translate(0px, 0px) ! important;
            transform: translate(0px, 0px) ! important;
  }
}

@media (max-width: 980px) {
  header p.lead span {
    display: block;
  }
}

@media (min-width: 480px) and (max-width: 768px) {

}


@media (min-width: 768px) and (max-width: 980px) {
  .span3 {
    width: 352px;
  }
}

@media (min-width: 980px) and (max-width: 1200px) {
  .span3 {
    width: 300px;
  }
}

@media (min-width: 1200px) {
  .span3 {
    width: 270px;
  }
}
{% if type == 'album' %}
.thumbnail {
  position: relative;
  width: 250px;
  height: 200px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.album-cover, .album-cover:before
{
    background: transprent;
    width: 245px;
    height: 190px;
    margin: 5px;
    border: 3px solid #FFF;
    box-shadow: 0 0 0 1px #999;
    position: relative;
}
.album-cover:before
{
    margin: 0;
    content: "";
    position: absolute;
    top: -7px;
    left: -7px;
    background: white;
    z-index: -1;
}

.grid-item {
    margin: 40px;
    margin-bottom: 60px;
}
{% endif %}

</style>
{% endblock %}
{% block page_content %}
<ol class="breadcrumb">
    <li><a href="{{ url_for('.index') }}">首页</a></li>
    <li><a href="{{ url_for('.albums', username=user.username) }}">{% if current_user == user %}我{% else %}{{ user.name
        }}{% endif %}的相册</a></li>
    <li class="active">{% if current_user == user %}我{% else %}{{ user.name }}{% endif %}的喜欢</li>
    <li class="pull-right"><a href="{{ url_for('.albums', username=user.username) }}">返回</a></li>
</ol>

<div class="container-fluid">
    <h2>{% if current_user == user %}我{% else %}{{ user.name }}{% endif %}的喜欢</h2><br>
</div>
<ul class="nav nav-tabs">
    <li {% if type==
    'photo' %}class="active"{% endif %}><a href="{{ url_for('.likes', username=user.username) }}">照片<span class="badge">{{ user.photo_likes.count() }}</span></a></li>
    <li {% if type==
    'album' %}class="active"{% endif %}><a href="{{ url_for('.album_likes', username=user.username) }}">相册<span
        class="badge">{{ user.album_likes.count() }}</span></a></li>
    {% if current_user == user %}
    <li class="pull-right">
        <a class="btn pull-right" href="{{ url_for('.setting') + '#pravicy' }}">
            <i class="glyphicon glyphicon-cog"></i>
        </a>
    </li>
    {% endif %}
</ul><br>

<div class="container">
    {% if album_count == 0 %}
    <h2>你还没有标记过喜欢，快来<a href="">探索</a>一下吧！</h2>
    {% endif %}
    <div class="row grid">
        {% if type == 'album' %}
        {% for like in album_likes %}
        <div class="grid-item">
            <div class="album-cover">
                <a class="thumbnail" href="{{ url_for('.album', id=like.album.id) }}">
                    <img class="img-responsive portrait" src="{{ like.cover }}">
                </a>
                <div class="info">
                    {{ like.album.title }}
                    <span>{{ like.photo.count() }}张图片</span><br>
                    <span>标记于{{ moment(like.timestamp).format('L') }}</span>
                    {% if current_user.username == user.username %}
                    <a href="#" data-href="{{ url_for('.unlike_album', id=like.album.id) }}"
                       class="btn btn-danger btn-xs" data-toggle="modal" data-target="#confirm-delete"
                       title="取消喜欢？">删除</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        
        {% if type == 'photo' %}
        {% for like in photo_likes %}
        <div class="">
            <div class="post span3 grid-item">
                <a class="thumbnail" href="{{ url_for('.photo', id=like.photo.id) }}">
                    <img class="img-responsive" src="{{ like.url_t }}">
                </a>
                <div class="info">
                    <span>标记于{{ moment(like.timestamp).format('L') }}</span>
                    {% if current_user.username == user.username %}
                    <a href="#" data-href="{{ url_for('.unlike_photo', id=like.photo.id) }}"
                       class="btn btn-danger btn-xs" data-toggle="modal" data-target="#confirm-delete"
                       title="取消喜欢？">删除</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <!-- 图片删除确认弹窗 用于喜欢页面和上传页面-->
        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        确定要删除这张图片？
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <a class="btn btn-danger btn-ok">确定</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>

<div class="text-center">
    {% if type == 'photo' %}
    {{ macros.pagination_widget(pagination, '.likes', username=user.username) }}
    {% else %}
    {{ macros.pagination_widget(pagination, '.album_likes', username=user.username) }}
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/isotope.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/imagesloaded.js') }}"></script>
<script>
$('.grid').imagesLoaded( function(){
    $('.grid').isotope({
      itemSelector : '.grid-item',
      {% if type == 'photo' %}
      layoutMode: 'masonry',
      {% endif %}
    });
  });

</script>

<script>
$('#confirm-delete').on('show.bs.modal', function(e) {
 $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href')); // redirect the url
 $(".btn-ok").click(function() {
    {% if type == 'photo' %}
    var $removeItem = $(e.relatedTarget).parent().parent();
    {% else %}
    var $removeItem = $(e.relatedTarget).parent().parent().parent();
    {% endif %}
    $('.grid').isotope( 'remove',  $removeItem );
    $('#confirm-delete .close').click(); // close modal
    $('.grid').isotope()
 });
});

</script>
{% endblock %}