{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}翻相册 - 我的相册{% endblock %}
{% block head %}
{{ super() }}
<style>

/* make the well swell */
.well {
    height: 290px;
    width: 290px;
	border-color:#c9c9c9;
}

  .info {
    margin: 5px;
    padding:4px;
    cursor: pointer;
  }


.thumbnail {
  position: relative;
  width: 250px;
  height: 200px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}
</style>
{% endblock %}
{% block page_content %}
<ol class="breadcrumb">
  <li><a href="{{ url_for('.index') }}">翻相册</a></li>
  <li class="active"><a href="{{ url_for('.user', username=user.username) }}">{% if current_user == user %}我{% else %}{{ user.name }}{% endif %}的主页</a></li>
  <li><a href="{{ url_for('.albums', username=user.username) }}">{% if current_user == user %}我{% else %}{{ user.name }}{% endif %}的相册</a></li>
  <li class="active">{% if current_user == user %}我{% else %}{{ user.name }}{% endif %}的喜欢</li>
  <li class="pull-right"><a href="{{ url_for('.albums', username=user.username) }}">返回</a></li>
</ol>

<div class="page-header">
    <h3>{% if current_user == user %}我{% else %}{{ user.name }}{% endif %}的喜欢</h3>
    <p>{{ user.photo_likes.count() }}张图片 {{ user.album_likes.count() }}个相册
        <a class="btn pull-right"><i class="glyphicon glyphicon-cog"></i></a>
</p>
</div>

<div class="container">
    {% if album_count == 0 %}
    <h2>你还没有标记过喜欢，快来<a href="{{ url_for('.normal') }}">探索</a>一下吧！</h2>
    {% endif %}
<div class="row">
            {% for like in album_likes %}
        <div class="col-md-4">
              <div class="well">
                <a class="thumbnail" href="{{ url_for('.album', id=like.album.id) }}" >
                    <img class="img-responsive portrait" src="{{ like.cover }}">
                </a>
                <div class="info">
                  {{ like.album.title }}
                  <span>{{ like.photo.count() }}张图片</span><br>
                  <span>标记于{{ moment(like.timestamp).format('L') }}</span>
                    {% if current_user.username == user.username %}
                    <a href="#" data-href="{{ url_for('.unlike_album', id=like.album.id) }}" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#confirm-delete" title="取消喜欢？">删除</a>
                    {% endif %}
                </div>
              </div>
        </div>
            {% endfor %}

            {% for like in photo_likes %}
            <div class="col-md-4">
                <div class="well">
                <a class="thumbnail" href="{{ url_for('.photo', id=like.photo.id) }}" >
                    <img class="img-responsive portrait" src="{{ like.path }}">
                </a>
                <div class="info">
                  <span>标记于{{ moment(like.timestamp).format('L') }}</span>
                    {% if current_user.username == user.username %}
                    <a href="#" data-href="{{ url_for('.unlike_photo', id=like.photo.id) }}" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#confirm-delete" title="取消喜欢？">删除</a>
                    {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}

        <!-- 图片删除确认弹窗 用于喜欢页面和上传页面-->
        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    确定要删除这张图片？
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                 <a class="btn btn-danger btn-ok">确定</a>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
</script>

<script>
$('#confirm-delete').on('show.bs.modal', function(e) {
 $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href')); // redirect the url
 $(".btn-ok").click(function() {
    $(e.relatedTarget).parent().parent().parent().slideUp(); // delete the photo
    $('#confirm-delete .close').click(); // close modal
 });
});
</script>
{% endblock %}