{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}翻相册 - 创建{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>创建相册</h1>
</div>

<ol class="breadcrumb" id="navigation">
    <li><a href="{{ url_for('.index') }}">首页</a></li>
    <li class="active">新建照片</li>
    <li class="pull-right"><a href="{{ url_for('.albums', username=current_user.username) }}">返回我的主页</a></li>
</ol>

<div class="loader"></div>
<div class="mask-bg"></div>

<div class="col-md-6">
    <form class="form form-horizontal" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.title, class="form-control user") }}
        {{ wtf.form_field(form.about) }}
        {{ wtf.form_field(form.photo, multiple="multiple") }}
        {{ wtf.form_field(form.asc_order) }}
        {{ wtf.form_field(form.no_public) }}
        {{ wtf.form_field(form.no_comment) }}
         <hr>
        {{ wtf.form_field(form.submit) }}
    </form>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script>
    // display loading animation
    $('#submit').click(function() {
        $('.mask-bg').show();
        $('.loader').show();
    })
</script>
{% endblock %}