{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros_photo.html" as macros %}

{% block title %}翻相册 - 我的相册{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<link href="{{ url_for('static', filename='css/lightbox.css') }}" rel="stylesheet">
<style>


.fav-btn {
      border: 1px solid black;
      padding: 4px 8px;
      border-radius: 3px;
      text-decoration: none;
      }

.fav-btn:link, .fav-btn:hover  {
    text-decoration: none;
    }

.fav-btn, .fav-btn:link, .fav-btn:hover {
      border: 1px solid lightgrey;
      padding: 4px 8px;
      border-radius: 3px;
      text-decoration: none;
    background: url(https://img3.doubanio.com/f/shire/f392cc86b542687ce4011dd495ee9522dfe81d93/pics/ic_like.png) no-repeat 8px 5px;
    }
.fav-cancel, .fav-cancel:link, .fav-cancel:hover {
    border: 1px solid lightgrey;
      padding: 4px 8px;
      border-radius: 3px;
      text-decoration: none;

    background: url(https://img3.doubanio.com/f/shire/f392cc86b542687ce4011dd495ee9522dfe81d93/pics/ic_like.png) no-repeat 8px -15px;
    }

#author {
    background: #ffe6b3;
    padding: 20px;
    }

.thumbnail {
  position: relative;
  width: 250px;
  height: 200px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.photo {
    text-align: center;
    }

.photo img{
    max-width:100%;
    width:expression(this.offsetWidth > 800 ? "800px" : "auto");
    max-height: 600px;
}


ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}

</style>
{% endblock %}

{% block page_content %}

<div class="row">
            {% for photo in photos %}
            <div class="col-md-8">
                <div class="photo">
                <a href="" title="">
                    <img src="{{ photo.path }}">
                </a>
                    <br>
                    <br>
                <span class="pull-left">推荐</span>
                {% if current_user == photo.author %}
                <span class="pull-right"><a href="{{ url_for('.delete_photo', id=photo.id) }}">删除</a></span>
                {% endif %}
                </div>
                <hr>
                {{ wtf.quick_form(form) }}
                <div id="comment">
                {% include '_comments.html' %}
                </div>
              </div>

            <div class="info col-md-4" >
                <span class="pull-right"><a href="{{ url_for('.album', id=photo.album.id) }}"> > 返回相册</a></span>
                <div class="pagination">
                    {{ macros.pagination_widget(pagination, '.photo', id=photo.id) }}
                    <p>
                    {% if photo.path in like_list and current_user.is_authenticated %}
                    <a href="{{ url_for('.like_photo', id=photo.id) }}" class="fav-btn fav-cancel" title="取消喜欢？">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;喜欢</a>
                    {% else %}
                    <a href="{{ url_for('.like_photo', id=photo.id) }}" class="fav-btn" title="标为喜欢？">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;喜欢</a>
                    {% endif %}
                    <span class="badge">{{ photo.photo_liked.count() }}</span>
                    </p>
                    <br>
                    <p>第{{ pagination.page }}张 / 共{{ album.photos.count() }}张</p>
                    <p>上传于{{ moment(album.timestamp).format('L') }}</p>
                </div>
                <br>
                <hr>
                <div id="author">
                    <div class="col-md-4">
                        <img class="img-rounded profile-thumbnail" src="{{ album.author.gravatar(size=64) }}">
                    </div>
                <h4>{{ album.author.name }}</h4>
                {% if album.author.about_me %}<p>{{ album.author.about_me }}</p>{% else %}<p>-</p>{% endif %}
                </div>
                <br>
                <hr>
                <p><a href="{{ url_for('.album', id=album.id) }}">{{ album.author.name}}的相册</a> - {{ album.title }}（{{ album.photos.count() }}张照片）</p>
                <a class="thumbnail" href="{{ url_for('.album', id=album.id) }}">
                    <img  class="img-responsive  portrait" src="{{ album.cover }}">
                </a>

            </div>
            {% endfor %}
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $(".fav-btn").click(function(event) {
      $(event.target).toggleClass("fav-cancel");
    });
</script>

{% endblock %}