{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}翻相册 - 登录{% endblock %}

{% block head %}
{{ super() }}
<style>
    #test {
    font-size: 60px;
    }
    #middle {
    font-size: 40px;
    }

</style>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>实验室</h1>
</div>

<img src="{{ photo.path }}" width="400">
{% if position == None %}
已经是最后一张了、第一张了
{% endif %}
<a href="{{ url_for('.photo_next', id=photo.id)}}">Next</a>
<a href="{{ url_for('.photo_previous', id=photo.id)}}">Previous</a>

{% endblock %}